$kittens-background: black;

.kittens {
	@media (min-width: 700px) {
		&-container {
			background-color: $kittens-background;
			display: flex;
			flex-direction: row;
			max-width: auto;
		}

		&-image {
			display: block;
			width: auto;
			height: auto;
			max-width: 50%;
		}
	}

	&-container {
		background-color: "transparent";
		align-items: center;
		width: 100%;
	}

	&-image {
		align-items: center;
		display: block;
		height: 50%;
		width: auto;
	}
}
