$kittens-background: black;

.kittens {

	@media (min-width: 800px) {
		&-container {
			display: flex;
			flex-direction: row;
		}
	}


	&-container {
		background-color: $kittens-background;
		align-items: center;
	}

	&-right {
		display: block;
		height: 50%;
		flex: 1;
	}

	&-left {
		display: block;
		height: 50%;
		flex: 1;
	}
}
